---
name: Lint workflow
on:
  push:
    paths:
    - '**.yml'
  pull_request:
    paths:
    - '**.yml'
jobs:
  Lint:
    name: Run Lint tests
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@master
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install ansible-lint yamllint
    - name: Run ansible-lint
      run: |
        ansible-lint local.yml oem.yml
